@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    /* #050505 Vantablack */
    --foreground: 0 0% 95%;
    /* #F2F2F2 Platinum */

    --card: 0 0% 5%;
    /* #0D0D0D Deep Matte */
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 95%;

    --primary: 43 74% 66%;
    /* #D4AF37 Champagne Gold */
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 9%;
    /* #171717 */
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;
    /* #999999 Silver */

    --accent: 43 74% 66%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    /* Subtle edges */
    --input: 0 0% 15%;
    --ring: 43 74% 66%;

    --radius: 0rem;
    /* Sharp, precise corners for "Hedge Fund" look */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.bg-grid-small-white {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}